body {
    background-color: rgb(234, 193, 200);
}

body {
    height: 3000px;
}

.best > .box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.best > .box > .cards {
    border-radius: 5px;
    background-color: palevioletred;
    height: 220px;
    margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .best > .box {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 767px){
    .best > .box {
        grid-template-columns: repeat(2, 1fr);
    }
}

